:root {
    --bg-body: #0f172a;       
    --bg-card: #1e293b; 
    --bg-header: #1e293b;       
    --text-main: #f1f5f9;     
    --text-muted: #94a3b8;
    --border: #334155;
    --accent: #4ade80;
    --header-height: 60px;
}

body { 
    margin: 0; padding: 0; font-family: 'Inter', sans-serif; 
    background: var(--bg-body); color: var(--text-main); overflow: hidden;
}

#topBar {
    height: var(--header-height); background: var(--bg-header);
    display: flex; align-items: center; justify-content: space-between;
    padding: 0 25px; border-bottom: 1px solid var(--border);
}

.logo { font-weight: 600; letter-spacing: 1px; }
.logo span { color: var(--accent); }

.top-actions { display: flex; gap: 15px; align-items: center; }

.top-btn {
    background: transparent; border: 1px solid var(--border);
    color: var(--text-muted); padding: 8px 18px; border-radius: 6px;
    cursor: pointer; font-weight: 600; transition: all 0.2s;
}

.run-btn { border-color: var(--accent); color: var(--accent); }
.run-btn:hover:not(:disabled) { background: var(--accent); color: #000; }
.run-btn:disabled { opacity: 0.3; cursor: not-allowed; }

.file-wrapper {
    position: relative; border: 1px dashed var(--text-muted);
    padding: 7px 15px; border-radius: 6px; font-size: 0.9rem;
}
.file-wrapper input { position: absolute; opacity: 0; width: 100%; height: 100%; top:0; left:0; cursor: pointer; }

.table-container {
    height: calc(100vh - var(--header-height));
    overflow-y: auto; /* Это наш скролл-контейнер */
    padding: 0 20px 20px 20px;
}

table {
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0;
    background: var(--bg-card);
    /* Добавляем небольшой отступ сверху самой таблице, если нужно */
   /* margin-top: 20px; */
}

th {
    background: #161e2e; /* Убедись, что цвет плотный и не прозрачный */
    padding: 12px;
    text-align: left;
    color: var(--text-muted);
    font-size: 0.75rem;
    text-transform: uppercase;
    
    position: sticky;
    /* Теперь строго 0, так как у контейнера нет padding-top */
    top: 0; 
    z-index: 100;
    border-bottom: 2px solid var(--border);
    
    /* Дополнительная защита: чтобы фон заголовка не "съедался" границами */
    background-clip: padding-box; 
}

th:first-child { border-top-left-radius: 8px; }
th:last-child { border-top-right-radius: 8px; }


td {
    padding: 6px 12px;     /* Уменьшили высоту строк */
    border-bottom: 1px solid var(--border);
    font-size: 0.85rem;
}

.pending {
    color: var(--text-muted);
    opacity: 0.4;
    font-style: italic;
}

tr:hover { background: #2d3a4f; }

#emptyState { text-align: center; margin-top: 50px; color: var(--text-muted); }